
# Created by https://www.toptal.com/developers/gitignore/api/nativescript,vue
# Edit at https://www.toptal.com/developers/gitignore?templates=nativescript,vue

### NativeScript ###
/platforms
/hooks
/node_modules
/lib
/debugger
/dist

/app/**/*.map
# shouldn't ignore this for vanilla nativescript
# /app/**/*.js

.DS_Store
**/*.log
tags

ers.txt

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

# End of https://www.toptal.com/developers/gitignore/api/nativescript,vue